.pin-text {
    margin-left: 30px;
    position: relative;
    top: 60px;
    left: -40px;
}

.pin-icon {
    color: #fff;
    display: none;
    position: relative;
    color: #fff;
    left: -25px;
    top: 45px;
    font-size: 30px;
}

.glitchhead {
    font-size: 19pt;
    line-height: 15pt;
    font-weight: 700!important;
    margin-bottom: 0;
}

.glitchsub {
    font-size: 11pt;
}

.pin-container {
    padding-left: 30px;
    width: 201px;
    height: 180px;
    position: relative;
}

.pin-icon, .pin, .pin-text {
    float: left;
}

.pin-icon.people img {
    height: 32px;
    width: 32px;
    margin-left: -16px;
}

.pin-icon.company img {
    height: 32px;
    width: 40px;
    margin-left: -20px;
}

.pin-icon.address img {
    height: 32px;
    width: 46px;
    margin-left: -28px;
}

.pin {
    position: absolute;
    height: 117px;
    width: 1px;
    background-image: url("./img/pin.png");
    display: none;
    top: -300px;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitchOn {
    position: relative;
    /* Animation provies a slight random skew. Check bottom of doc
      for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitchOn::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitchOn::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
    0% {
        clip: rect(23px, 9999px, 55px, 0);
        transform: skew(0.49deg);
    }

    5% {
        clip: rect(53px, 9999px, 78px, 0);
        transform: skew(0.78deg);
    }

    10% {
        clip: rect(89px, 9999px, 61px, 0);
        transform: skew(0.77deg);
    }

    15% {
        clip: rect(4px, 9999px, 13px, 0);
        transform: skew(0.95deg);
    }

    20% {
        clip: rect(34px, 9999px, 67px, 0);
        transform: skew(0.09deg);
    }

    25% {
        clip: rect(93px, 9999px, 55px, 0);
        transform: skew(0.43deg);
    }

    30% {
        clip: rect(77px, 9999px, 26px, 0);
        transform: skew(0.96deg);
    }

    35% {
        clip: rect(37px, 9999px, 36px, 0);
        transform: skew(0.59deg);
    }

    40% {
        clip: rect(43px, 9999px, 91px, 0);
        transform: skew(0.87deg);
    }

    45% {
        clip: rect(43px, 9999px, 28px, 0);
        transform: skew(0.44deg);
    }

    50% {
        clip: rect(24px, 9999px, 28px, 0);
        transform: skew(0.33deg);
    }

    55% {
        clip: rect(32px, 9999px, 74px, 0);
        transform: skew(0.64deg);
    }

    60% {
        clip: rect(78px, 9999px, 84px, 0);
        transform: skew(0.49deg);
    }

    65% {
        clip: rect(45px, 9999px, 60px, 0);
        transform: skew(0.81deg);
    }

    70% {
        clip: rect(44px, 9999px, 54px, 0);
        transform: skew(0.59deg);
    }

    75% {
        clip: rect(69px, 9999px, 54px, 0);
        transform: skew(0.19deg);
    }

    80% {
        clip: rect(41px, 9999px, 50px, 0);
        transform: skew(0.38deg);
    }

    85% {
        clip: rect(47px, 9999px, 7px, 0);
        transform: skew(0.91deg);
    }

    90% {
        clip: rect(69px, 9999px, 74px, 0);
        transform: skew(0.64deg);
    }

    95% {
        clip: rect(69px, 9999px, 71px, 0);
        transform: skew(0.27deg);
    }

    100% {
        clip: rect(39px, 9999px, 41px, 0);
        transform: skew(1deg);
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(60px, 9999px, 79px, 0);
        transform: skew(0.52deg);
    }

    5% {
        clip: rect(77px, 9999px, 9px, 0);
        transform: skew(0.79deg);
    }

    10% {
        clip: rect(20px, 9999px, 39px, 0);
        transform: skew(0.86deg);
    }

    15% {
        clip: rect(69px, 9999px, 52px, 0);
        transform: skew(0.69deg);
    }

    20% {
        clip: rect(94px, 9999px, 89px, 0);
        transform: skew(0.34deg);
    }

    25% {
        clip: rect(1px, 9999px, 8px, 0);
        transform: skew(0.32deg);
    }

    30% {
        clip: rect(88px, 9999px, 28px, 0);
        transform: skew(0.37deg);
    }

    35% {
        clip: rect(46px, 9999px, 1px, 0);
        transform: skew(0.29deg);
    }

    40% {
        clip: rect(21px, 9999px, 25px, 0);
        transform: skew(0.21deg);
    }

    45% {
        clip: rect(77px, 9999px, 40px, 0);
        transform: skew(0.74deg);
    }

    50% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.04deg);
    }

    55% {
        clip: rect(99px, 9999px, 5px, 0);
        transform: skew(0.03deg);
    }

    60% {
        clip: rect(80px, 9999px, 11px, 0);
        transform: skew(0.59deg);
    }

    65% {
        clip: rect(90px, 9999px, 11px, 0);
        transform: skew(0.82deg);
    }

    70% {
        clip: rect(40px, 9999px, 76px, 0);
        transform: skew(0.78deg);
    }

    75% {
        clip: rect(19px, 9999px, 18px, 0);
        transform: skew(0.55deg);
    }

    80% {
        clip: rect(35px, 9999px, 26px, 0);
        transform: skew(0.98deg);
    }

    85% {
        clip: rect(69px, 9999px, 87px, 0);
        transform: skew(0.55deg);
    }

    90% {
        clip: rect(56px, 9999px, 43px, 0);
        transform: skew(0.65deg);
    }

    95% {
        clip: rect(83px, 9999px, 5px, 0);
        transform: skew(0.36deg);
    }

    100% {
        clip: rect(16px, 9999px, 71px, 0);
        transform: skew(0.84deg);
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(-4deg);
    }

    10% {
        transform: skew(-1deg);
    }

    20% {
        transform: skew(5deg);
    }

    30% {
        transform: skew(-1deg);
    }

    40% {
        transform: skew(-3deg);
    }

    50% {
        transform: skew(-1deg);
    }

    60% {
        transform: skew(5deg);
    }

    70% {
        transform: skew(-3deg);
    }

    80% {
        transform: skew(2deg);
    }

    90% {
        transform: skew(-2deg);
    }

    100% {
        transform: skew(2deg);
    }
}

/* PULSATING CARET */
[data-typer]:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 1em;
    background: #000;
    animation: caretPulsate 1s linear infinite;
    -webkit-animation: caretPulsate 1s linear infinite;
}

@keyframes caretPulsate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes caretPulsate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}