.jumbotron {
    background-image: url(../img/jumbobg.jpg);
    height: 572px;
}

.jumbotron h1{
    text-transform: none;
    letter-spacing: 1pt;
}

.firstcontainer ul {
    border-left: 1px solid #DBDBDB;
    margin-bottom: 130px;
    margin-top: 20px;
}

.firstcontainer li {
     background: url(../img/bluesquare.png) no-repeat left 7px;
     background-size: 11px;
     padding-left: 33px;
     list-style-type: none;
     margin-left: -46px;
}

 p.headsup {
     margin-top: 60px;
     margin-bottom: 0;
 }

h2, .greycontainer h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.greycontainer h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.greycontainer .vacancies {
    margin-bottom: 100px;
}

.greycontainer .vacancies p {
    margin: 0;
}

.aboutimg {
    width: 552px;
    height: 390px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.joinusimg {
    width: 420px;
    height: 650px;
    margin-top: 40px;
}

a.mailto {
    color: #A4A4A4;
}

@media screen and (max-device-width:991px), screen and (max-width:991px) {
    .jumbocontentinner h1 {
        padding-top: 285px;
    }

    p {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .grids {
        display: none;
    }

    .joinusimg, .aboutimg {
        display: none;
    }
}

