.jumbotron {
    background-image: url(../img/avukjumbo.jpg);
    height: 572px;
}

.jumbocontentinner h1 {
    font-size: 40px;
}

.greycontainer {
    padding-bottom: 80px;
    padding-top: 30px;
}

.greycontainer h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.greycontainer .headsup {
    margin-top: 28px;
    margin-bottom: 10px;
}

.bluecontainer {
    min-height: 250px;
    margin-top: 0;
}

.bluecontainer p.thankyou-message {
    font-size: 18px;
    text-align: center;
    display: block;
    padding-top:12px;
}

.bluecontainer .btn-primary {
    color: #0953FF;
    width: 100%;
    margin-top: 0;
}

.bluecontainer .btn-primary.top {
    margin-top: 50px;
    width: auto;
}

.bluecontainer select.form-control {
    padding-top: 9px;
    padding-bottom: 9px;
    height: 43px;
}

.bluecontainer select.form-control option{
    color: #000;
}

.orbis-gallery {
    background-color: #F4F4F4;
}

.orbis-gallery .btn {
    margin-top: 40px;
}

.orbis-logo {
    margin-bottom: 40px;
}

.greycontainer li {
    background: url('../img/bluesquare.png') no-repeat left 7px;
    background-size: 11px;
    padding-left: 23px;
    list-style-type: none;
    margin-left: -35px;
}

.choosecontainer img {
    max-width: 100%;
    height: 200px;
    margin: 20px auto;
    display: block;
}

.choosecontainer h3 {
    font-size: 21px;
    text-align: center;
}

form .caret {
    border: 0;
    padding-right: 10px;
}


.orbisslider-mobile {
    display: none;
}

#gallery-right-container p a {
    text-decoration: underline;

}

.landing-video {
    width: 600px;
    margin-top:60px;
}

.companyimages .dpdcol {
    width: 84px;
    margin-top: 22px;
}

.companyimages .fedexcol {
    width: 99px;
    margin-top: 29px;
}

.companyimages .avhsbccol {
    width: 105px;
    margin-top: 29px;
}

.companyimages .springcol {
    width: 139px;
    margin-top: 29px;
}

.companyimages .kfjcol {
    width: 120px;
    margin-top: 25px;
}

.choosecontainer p.leading {
    margin-bottom: 40px;
}



/* RESPONSIVE MOBILE ONLY */
@media screen and (max-device-width:991px), screen and (max-width:991px) {
    .jumbocontentinner h1 {
        font-size: 95px;
    }

    .greycontainer .content {
        padding: 100px;
    }

    .greycontainer .content ul {
        margin-top: 50px;
    }

    .bluecontainer {
        margin-top: 0;
    }

    .choosecontainer h3 {
        margin-top: 100px;
        margin-bottom: 60px;
        font-size: 42px;
    }

    .choosecontainer img {
        height: 600px;
    }

    #simunix-gallery {
        min-height: 1400px;
    }

    .gallery-link-mobile {
        position: static;
        width: 100%;
        height: 100px;
        margin-top: 64px;
    }

    .orbis-logo {
        width: 260px;
        height: 72px;
    }

    .trustcontainer p.leading, .choosecontainer p.leading {
        font-size: 54px;
        margin-bottom: 60px;
    }

    .trustcontainer p.content {
        display: none;
    }

    .companyimages .dpdcol {
        width:168px;
    }

    .companyimages .avhsbccol {
        width:205px;
    }

    .companyimages .kfjcol {
        width:240px;
    }

    .companyimages .klcol {
        width: 240px;
        height: 56px;
    }

    .infographic {
        display: none;
    }

    .bluecontainer select.form-control {
        font-size: 42px;
        height: 133px;
    }

    .bluecontainer p.thankyou-message {
        font-size: 54px;
    }

    form .caret {
        font-size: 60px;
        padding-right: 62px;
        margin-top: -17px;
    }

    .orbisslider-mobile {
        display: block;
        text-align: center;
    }

    .orbisslider-mobile img{
        width: 224px;
        height: 220px;
    }

    .orbisslider-mobile p.slide-head {
        font-size: 60px;
    }

    .orbisslider-mobile p.slide-content {
        font-size: 42px;
    }


    .slick-slide img {
        display: inline;
    }

    .slick-list {
        width: 80%;
        margin: auto;
    }

    .search-type {
        display: block;
        margin: auto;
        margin-top: 40px;
    }

    .greycontainer li {
        background-size: 40px;
        font-size: 45px;
        margin-left: -60px;
        padding-left: 64px;
    }

    .greycontainer .contact {
        padding-top: 49px;
        padding-bottom: 30px;
    }

    .landing-video {
        width: 100%;
        margin-top:30px;
    }

}