#primaryNav {
    margin-top: 0;
}

.form-control, .form-control:focus {
    font-size: 16px;
    padding: 8px 38px;
}

.blackcontainer {
    min-height: calc(100vh - 318px);
}

.blackcontainer h1 {
    width: 345px;
    padding-top: 75px;
    padding-bottom: 50px;
}

.blackcontainer li {
    background: url('../img/whitesquare.png') no-repeat left 7px;
    background-size: 11px;
    padding-left: 33px;
    list-style-type: none;
    margin-left: -35px;
    font-size: 14pt;
}

.blackcontainer li .list-sub{
    font-size: 10pt;
    color: #BEBAB6;
}

.list-sub a,.list-sub a:hover {
    color: #BEBAB6;
    text-decoration: underline;
}

.blackcontainer .form-control:not([type="submit"]) {
    background-color: #262626;
    font-size: 16px;
}

.blackcontainer .form-control:not([type="submit"])::placeholder {
    font-size: 16px;
}

select.form-control:not([type="submit"]) {
    padding: 0;
    height: 40px;
    padding-left: 21px;
}

.btn-primary {
    height: 40px
}

form .caret {
    border: 0;
    padding-right: 10px;
    margin-top: -8px;
}

@media screen and (max-device-width:991px), screen and (max-width:991px) {
    .blackcontainer h1 {
        white-space: normal;
        width: auto;
    }

    .blackcontainer li {
        background-size: 40px;
        font-size: 54px;
        margin-left: -60px;
        padding-left: 64px;
    }

    .blackcontainer li .list-sub {
        font-size: 42px;
        margin-bottom: 40px;
    }

    select.form-control:not([type="submit"]) {
        height: 124px;
    }

    form .caret {
        padding-right: 52px;
        margin-top: -40px;
        font-size: 60px;
    }

    .btn-primary {
        height: 122px;
        font-size: 46px;
    }

    .blackcontainer .form-control:not([type="submit"]) {
        background-color: #262626;
        font-size: 32px;
    }

    .blackcontainer .form-control:not([type="submit"])::placeholder {
        font-size: 32px;
    }

}