.jumbotron {
    background-image: url(../img/estatesjumbo.jpg);
    height: 572px;
}

.greycontainer {
    padding-bottom: 30px;
}

.greycontainer h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.greycontainer .headsup {
    margin-top: 28px;
    margin-bottom: 10px;
}

.bluecontainer {
    min-height: 250px;
}

.bluecontainer p.thankyou-message {
    font-size: 18px;
    text-align: center;
    display: block;
    padding-top:12px;
}

.bluecontainer .btn-primary {
    color: #0953FF;
    width: 100%;
    margin-top: 0;
}

.bluecontainer select.form-control {
    padding-top: 9px;
    padding-bottom: 9px;
    height: 43px;
}

.bluecontainer select.form-control option{
    color: #000;
}

.orbis-gallery {
    background-color: #F4F4F4;
}

.orbis-gallery .btn {
    margin-top: 40px;
}

.orbis-logo {
    margin-bottom: 40px;
}

.bluecontainer {
    margin-top: 150px;
}

.greycontainer li {
    background: url('../img/bluesquare.png') no-repeat left 7px;
    background-size: 11px;
    padding-left: 23px;
    list-style-type: none;
    margin-left: -35px;
}

form .caret {
    border: 0;
    padding-right: 10px;
}


.orbisslider-mobile {
    display: none;
}

#gallery-right-container p a {
    text-decoration: underline;

}

.landing-video {
    width: 600px;
    margin-top:60px;
}

.companyimages .chancellorscol {
    height: 90px;
    margin-top: -10px;
}

.companyimages .skiptoncol {
    width: 165px;
    margin-top: 15px;
}

.companyimages .elliscol {
    width: 165px;
    margin-top: 5px;
}


/* RESPONSIVE MOBILE ONLY */
@media screen and (max-device-width:991px), screen and (max-width:991px) {
    .bluecontainer {
        margin-top: 1910px;
    }

    #simunix-gallery {
        min-height: 1400px;
    }

    .gallery-link-mobile {
        position: static;
        width: 100%;
        height: 100px;
        margin-top: 64px;
    }

    .orbis-logo {
        width: 260px;
        height: 72px;
    }

    .trustcontainer p.leading {
        font-size: 54px;
        margin-bottom: 60px;
    }

    .trustcontainer p.content {
        display: none;
    }

    .companyimages .chancellorscol {
        height: 200px;
        margin-top: -35px;
    }

    .companyimages .elliscol {
        width: 245px;
        margin-top: 20px;
    }

    .companyimages .klcol {
        width: 240px;
        height: 56px;
    }

    .infographic {
        display: none;
    }

    .bluecontainer select.form-control {
        font-size: 42px;
        height: 133px;
    }

    .bluecontainer p.thankyou-message {
        font-size: 54px;
    }

    form .caret {
        font-size: 60px;
        padding-right: 62px;
        margin-top: -17px;
    }

    .orbisslider-mobile {
        display: block;
        text-align: center;
    }

    .orbisslider-mobile img{
        width: 224px;
        height: 220px;
    }

    .orbisslider-mobile p.slide-head {
        font-size: 60px;
    }

    .orbisslider-mobile p.slide-content {
        font-size: 42px;
    }


    .slick-slide img {
        display: inline;
    }

    .slick-list {
        width: 80%;
        margin: auto;
    }

    .search-type {
        display: block;
        margin: auto;
        margin-top: 40px;
    }

    .greycontainer li {
        background-size: 40px;
        font-size: 45px;
        margin-left: -60px;
        padding-left: 64px;
    }

    .greycontainer .contact {
        padding-top: 49px;
        padding-bottom: 30px;
    }

    .landing-video {
        width: 100%;
        margin-top:30px;
    }

}