.btn-primary.find-out-more {
	padding: 8px 25px 12px 30px;
	margin-top: 15px;
}

.btn-primary.find-out-more::after {
	content: "→";
	font-weight: 900;
	margin-left: 70px;
	font-size:22px;
}

.search-tool-slider {
    margin-top: 800px;
	border-top: 1px solid #C3C3C3;
}

.search-tool-slider h2 {
	margin-bottom: 75px;
	margin-top: 40px;
}

.search-tool-slider .btn-primary {
	margin-top: 75px;
}

.search-tool-slider .slick-dots {
	top: 280px;
	height: 35px;
}

.blackcontainer {
	margin-top: 30px;
	padding-top: 140px;
	padding-bottom: 70px;
}

.slider {
    display: block;
}

.slider-mobile {
    display: none;
}

#gallery-right-container {
	width: 45%;
	max-width: 659px;
}

#gallery-right-content img {
	margin-top: 46px;
}

.gallery-grid-item {
	margin-top: 0;
}

.bluesquare {
	position:absolute;
	display: block;
	float: left;
	background-color: #0953FF;
	width: 20px;
	height: 20px;
	margin-top: 13px;
}

.bluesquare:after {
	content: ' ';
	position: relative;
	display: block;
	top: -9px;
	left: 7px;
	width: 7px;
	height: 7px;
	background-color: #fff;
	z-index: 2;
}

.gallery-grid-item p {
	margin-top: 6px;
	margin-left: 35px;
}

#gallery-right {
	height: 95%;
	width: auto;
	float: right;
}

@media screen and (max-device-width:1309px), screen and (max-width:1309px) {
	.slider {
		display: none;
	}

	.slider-mobile {
		display: block;
	}

	.slick-slide img {
		display: inline;
	}

	.slick-list {
		width: 80%;
		margin: auto;
	}
}

@media screen and (max-device-width:991px), screen and (max-width:991px) {
	#simunix-gallery {
		height: 1477px;
	}

	.search-tool-slider {
		margin-top: 1640px;
	}

	#gallery-right-container {
		width: 100%;
	}

	.gallery-grid-item p {
		margin-left: 62px;
		width: 90%;
		margin-top: 50px;
	}

	.bluesquare {
		margin-top: 38px;
	}

	.gallery-link-mobile {
		bottom: -60px;
	}

	.btn-primary.find-out-more::after {
		font-size: 44px;
	}


	.accred-intro, .gdpr-intro {
		font-size: 48px!important;
	}

}

.section-accreditation
{
	margin: 0 auto;
	padding: 0;
	padding-top: 25px;
	padding-bottom: 85px;
	margin-bottom: 75px;
}

.section-accreditation h2 {
	margin-top: 0;
	margin-bottom: 25px;
}

.accred-intro, .gdpr-intro {
	font-size: 18px;
	margin-bottom: 30px;
}

.accred {
	cursor: pointer;
}

.accred1{
	background-size: contain;
	background-position: center center;
	background-image: url("../img/accreditation/iso-iec.png");
	background-repeat: no-repeat;
	width: 120px;
	min-height: 80px;
	height: auto;
	display: inline-block;
	margin: 15px;
}

.accred2
{
	background-size: contain;
	background-position: center center;
	background-image: url("../img/accreditation/CCS_2935_Supplier_AW_300dpi.jpg");
	background-repeat: no-repeat;
	width: 120px;
	min-height: 80px;
	height: auto;
	display: inline-block;
	margin: 15px;
	cursor: auto;
}

.accred3
{
	background-size: contain;
	background-position: center center;
	background-image: url("../img/accreditation/cyberessentials_certification_mark.png");
	background-repeat: no-repeat;
	width: 120px;
	min-height: 80px;
	height: auto;
	display: inline-block;
	margin: 15px;
}
.accred4
{
	background-size: contain;
	background-position: center center;
	background-image: url("../img/accreditation/AVPA_ageverification-association.jpeg");
	background-repeat: no-repeat;
	width: 120px;
	min-height: 80px;
	height: auto;
	display: inline-block;
	margin: 15px;
	cursor: default;
}
.accred5
{
	background-size: contain;
	background-position: center center;
	background-image: url("../img/accreditation/PCI_DSS_Validated_light.png");
	background-repeat: no-repeat;
	width: 120px;
	min-height: 80px;
	height: auto;
	display: inline-block;
	margin: 15px;
	
}

.intro-container h2{
	text-align: left;
	width: 700px;
	margin-top: 40px;
}

.intro-container p{
	text-align: left;
	width:590px;
	margin-top: 30px;
	color: #393939;
	font-weight: 400;
	font-size: 20px;
}

.intro-container .imgGroup {
	margin-left: 0;
	float:right;
}

.intro-container .imgGroup img {
	width: 787px;
	height: 419px;
}
	
@media only screen and (min-width: 992px) {
	
	
	.accred1, .accred2, .accred3, .accred4, .accred5
	{	
		margin: 20px 40px 0px 40px;
		
	}


	
}
	
@media only screen and (min-width: 1500px) {
	
	
	.accred1, .accred2, .accred3, .accred4, .accred5
	{	
		margin: 20px 30px 0px 30px;
	}
	
}

@media screen and (max-device-width: 991px), screen and (max-width: 991px) {
	.intro-container p {
		font-size: 48px;
		width: 100%;
	}

	.gallery-subheading {
		font-size: 36px;
		width: 100%;
	}

	.gallery-grid-item p {
		width: 100%;
		margin-top: 0;
		margin-top: 25px;
	}

}