.jumbotron {
    background-image: url(../img/logisticsjumbo.jpg);
    height: 572px;
    background-position: center center;
}

.jumbocontentinner h1 {
    font-size: 71px;
}

.greycontainer h2.heading {
    font-size: 38px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
}

.greycontainer {
    padding-bottom: 70px;
}

.greycontainer h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.greycontainer .headsup {
    margin-top: 28px;
    margin-bottom: 10px;
}

.greycontainer .btn {
    display: inline;
    float: left;
    min-width: 24%;
    margin-bottom: 20px;
}

.greycontainer .btn-secondary {
    background-color: rgba(0,0,0,0);
    color: #0953FF;
    border: 1px solid #0953FF;
    margin-left: 10px;
}

.bluecontainer {
    min-height: 250px;
}

.bluecontainer p.thankyou-message {
    font-size: 18px;
    text-align: center;
    display: block;
    padding-top:12px;
}

.bluecontainer .btn-primary {
    color: #0953FF;
    width: 100%;
    margin-top: 0;
}

.bluecontainer select.form-control {
    padding-top: 9px;
    padding-bottom: 9px;
    height: 43px;
}

.bluecontainer select.form-control option{
    color: #000;
}

.orbis-gallery {
    background-color: #F4F4F4;
}

.orbis-gallery .btn {
    margin-top: 40px;
}

.orbis-logo {
    margin-bottom: 40px;
}

.bluecontainer {
    margin-top: 150px;
}

.greycontainer li {
    background: url('../img/bluesquare.png') no-repeat left 7px;
    background-size: 11px;
    padding-left: 23px;
    list-style-type: none;
    margin-left: -35px;
}

form .caret {
    border: 0;
    padding-right: 10px;
}


.orbisslider-mobile {
    display: none;
}

#gallery-right-container p a {
    text-decoration: underline;

}

.landing-video {
    width: 600px;
    margin-top:75px;
}

.bluecontainer p {
    font-size: 14px;
}

.gallery-links a {
    text-decoration: underline;
    color: #000;
}

.companyimages .fedexcol {
    width:84px;
    height:48px;
    margin-top: 22px;
}

.companyimages .dhlcol {
    width: 128px;
    height: 75px;
    margin-top: 10px;
}

.companyimages .dpdcol {
    width: 99px;
    height: 58px;
    margin-top: 14px;
}

.companyimages .evricol {
    width: 119px;
    height: 68px;
    margin-top: 7px;
}

.companyimages .tntcol {
    width: 91px;
    height: 36px;
    margin-top: 23px;
}

/* RESPONSIVE MOBILE ONLY */
@media screen and (max-device-width:991px), screen and (max-width:991px) {
    .bluecontainer {
        margin-top: 1425px;
    }

    .bluecontainer p {
        font-size: 40px;
    }

    #simunix-gallery {
        min-height: 1400px;
    }

    .gallery-link-mobile {
        position: static;
        width: 100%;
        height: 100px;
        margin-top: 64px;
    }

    .orbis-logo {
        width: 260px;
        height: 72px;
    }

    .trustcontainer p.leading {
        font-size: 54px;
        margin-bottom: 60px;
    }

    .trustcontainer p.content {
        display: none;
    }

    .companyimages .bakertillycol {
        width: 168px;
        height: 44px;
    }

    .companyimages .amexcol {
        height: 116px;
        width: 116px;
    }

    .companyimages .yorkbuilcol {
        width: 278px;
        height: 210px;
    }

    .infographic {
        display: none;
    }

    .bluecontainer select.form-control {
        font-size: 42px;
        height: 133px;
    }

    .bluecontainer p.thankyou-message {
        font-size: 54px;
    }

    form .caret {
        font-size: 60px;
        padding-right: 62px;
        margin-top: -17px;
    }

    .orbisslider-mobile {
        display: block;
        text-align: center;
    }

    .orbisslider-mobile img{
        width: 224px;
        height: 220px;
    }

    .orbisslider-mobile p.slide-head {
        font-family: "Inter", sans-serif;
        font-size: 60px;
    }

    .orbisslider-mobile p.slide-content {
        font-size: 42px;
    }


    .slick-slide img {
        display: inline;
    }

    .slick-list {
        width: 80%;
        margin: auto;
    }

    .search-type {
        display: block;
        margin: auto;
        margin-top: 40px;
    }

    .greycontainer ul {
        padding-left: 90px;
    }

    .greycontainer li {
        background-size: 40px;
        font-size: 45px;
        margin-left: -60px;
        padding-left: 64px;
    }

    .greycontainer .contact {
        padding-top: 49px;
        padding-bottom: 30px;
    }

    .landing-video {
        width: 100%;
        margin-top:30px;
    }

}