.jumbotron {
    background-image: url(../img/orbisjumbobg.jpg);
    height: 572px;
}

#keyFeatures .col-4 {
    padding-left: 40px;
    padding-right: 40px;
}

.greycontainer {
    padding-bottom: 30px;
}

.greycontainer h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.greycontainer .infographic {
    width: 416px;
    height: 434px;
}

.sourcesinfograph {
    padding-right: 50px;
}

.sourcescontent {
    padding-left: 50px;
}

.bluecontainer {
    min-height: 250px;
}

.bluecontainer p.thankyou-message {
    font-size: 18px;
    text-align: center;
    display: block;
    padding-top:12px;
}

.bluecontainer .btn-primary {
    color: #0953FF;
    width: 100%;
    margin-top: 0;
}

.bluecontainer select.form-control {
    padding-top: 9px;
    padding-bottom: 9px;
    height: 43px;
}

.bluecontainer select.form-control option{
    color: #000;
}

.orbis-gallery {
    background-color: #F4F4F4;
}

.orbis-gallery .btn {
    margin-top: 40px;
}

.orbis-gallery .btn-secondary {
    background-color: transparent;
    border: solid 1px #0953FF;
    color: #0953FF;
}

.findout {
    display: none;
}

.findout.police {
    display: inline-block;
}

.orbis-logo {
    margin-bottom: 40px;
}

.trustcontainer {
    margin-top: 150px;
}

form .caret {
    border: 0;
    padding-right: 10px;
}


.orbisslider-mobile {
    display: none;
}


/* RESPONSIVE MOBILE ONLY */
@media screen and (max-device-width:991px), screen and (max-width:991px) {
    .btn-secondary {
        margin-top: 75px;
    }

    .slider-title {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .trustcontainer {
        margin-top: 0px;
    }

    #simunix-gallery {
        min-height: 1400px;
    }

    .gallery-link-mobile {
        position: static;
        width: 100%;
        height: 100px;
        margin-top: 64px;
    }

    .orbis-logo {
        width: 260px;
        height: 72px;
    }

    .trustcontainer p.leading {
        font-size: 54px;
        margin-bottom: 60px;
    }

    .trustcontainer p.content {
        display: none;
    }

    .companyimages .bakertillycol {
        width: 168px;
        height: 44px;
    }

    .companyimages .amexcol {
        height: 116px;
        width: 116px;
    }

    .companyimages .yorkbuilcol {
        width: 278px;
        height: 210px;
    }

    .infographic {
        display: none;
    }

    .bluecontainer select.form-control {
        font-size: 42px;
        height: 133px;
    }

    .bluecontainer p.thankyou-message {
        font-size: 54px;
    }

    form .caret {
        font-size: 60px;
        padding-right: 62px;
        margin-top: -17px;
    }

    .orbisslider-mobile {
        display: block;
        text-align: center;
    }

    .orbisslider-mobile img{
        width: 224px;
        height: 220px;
    }

    .orbisslider-mobile p.slide-head {
        font-family: "Inter", sans-serif;
        font-size: 60px;
    }

    .orbisslider-mobile p.slide-content {
        font-size: 42px;
    }


    .slick-slide img {
        display: inline;
    }

    .slick-list {
        width: 80%;
        margin: auto;
    }
}