.jumbotron {
    background-image: url(../img/jumbobg.jpg);
    height: 572px;
}

.jumbotron h1{
    font-family: "Inter", sans-serif;
    text-transform: none;
    letter-spacing: 1pt;
}

.firstcontainer {
    padding-top: 50px;
    padding-bottom: 50px;
}