.jumbotron {
    background-image: url(../img/jumbobg.jpg);
    height: 572px;
}

.jumbotron h1{
    font-family: "Inter", sans-serif;
    text-transform: none;
    letter-spacing: 1pt;
}

.firstcontainer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.firstcontainer li {
    background: url('../img/bluesquare.png') no-repeat left 7px;
    background-size: 11px;
    padding-left: 33px;
    list-style-type: none;
    margin-left: -35px;
    font-family: "Inter", sans-serif;
    font-size: 18pt;
}

.firstcontainer li .list-sub{
    font-family: "Inter", sans-serif;
    font-size: 13pt;
}

/* RESPONSIVE MOBILE ONLY */
@media screen and (max-device-width:991px), screen and (max-width:991px) {
    p {
        font-size: 104px;
    }

    .firstcontainer li .list-sub {
        font-size: 60px;
    }

}
