@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
body.noscroll {
    overflow:hidden;
}

h1 {
    font-size: 71px;
    white-space: nowrap;
    font-weight: 400;
}

h2 {
    font-size: 38px;
    font-weight: 400;
}

h3 {
    font-size: 19px;
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

br.mobile-break {
    display: none;
}

.btn {
    border-radius: 50px!important;
    border: none;
}

.hideme {
    display: none;
}

.btn-primary, .btn-secondary {
    background-color: #0953FF;
    padding: 14px 38px;
    border-radius: 54px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
}

.headsup, .blackcontainer p.headsup {
    color: #FF6061;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.container {
    padding: 70px 30px 30px;
}

/* INPUTS & FORMS */
.form-control:not([type="submit"]) {
    border-radius: 50px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    padding: 20px;
}

select.form-control {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

form .caret {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 2rem;
    top: 72%;
    margin-top: -1px;
    width: 0;
    height: 0;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

select.form-control { /* Edge */
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 10px;
}

.form-control, .form-control:focus {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 10px;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 10px;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 10px;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 10px;
}


/*NAVIGATION*/

.navbar-brand img {
    width: 202px;
    height: 31px;
}

#primaryNav {
    height: 48px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0,0,0,1);
    padding-right: 0;
}

body.home #primaryNav{
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid #707070;
}

#primaryNav .nav-item a {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

#primaryNav .nav-item.brand-nav a {
    font-size: 16px;
    padding-top: 25px;
}

#primaryNav .nav-link {
    padding-left: 25px;
    padding-right: 25px;
}

#primaryNav .right-nav {
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.right-nav .nav-item {
    padding-top: 5px;
}

#primaryNav .contact {
    background-color: #0953FF;
    height: 80px;
}

#primaryNav .contact a{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.dropdown-menu {
    background-color: #000;
    text-transform: uppercase;
    width: 330px;
    margin-top: 3px;
    border-radius: 0;
}

.dropdown-item:focus, .dropdown-item:hover, p.dropdown-item {
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
}

.dropdown-divider {
    border-top: 1px solid #191919;
}

.inner-dropdown-menu {
    display: none;
    padding-left: 20px;
    padding-top: 10px;
}

.imgGroupMobile {
    display: none;
}

.imgGroupMobile img {
    width: 662px;
    height: 366px;
}

/*CONTAINERS*/
.greycontainer {
    background-color: #F4F4F4;
}

.greycontainer h2 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.blackcontainer {
    background-color: #000000;
    color: #fff;
}

.avukcontainer {
    background: rgb(25,38,121);
    background: linear-gradient(135deg, rgba(25,38,121,1) 0%, rgba(64,94,245,1) 100%);
    color: #fff;
    padding-bottom: 80px;
}
.avukcontainer p{
    color: #fff;
}


.avukcontainer a {
    color: #4ED0E5;
    font-weight: 700;
}

.blackcontainer p.big-text {
    font-size: 38px;
    line-height: 1.1;
}

.blackcontainer p.right-title {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: -21px;
}

.blackcontainer p.right-subtitle {
    font-size: 16px;
    color: #BEBAB6;
}

.blackcontainer p {
    color: #fff;
}

.blackcontainer p.right-content {
    font-size: 24px;
}

.blackcontainer .gridblack-head {
    font-size: 18px;
}

.gridblack-head a,.gridblack-head a:active, .gridblack-head a:hover, .gridblack-head a:visited
{
    text-decoration: none;
    color: #fff;
}

.blackcontainer .gridblack-content {
    font-size: 14px;
}


.dottycontainer {
    background-image: url("../img/dots.png");
    background-repeat: repeat-x;
    background-position: center bottom;
}

.dottycontainer h2, .dottycontainer p {
    margin-bottom: 40px;
}

.dottycontainer a {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
}


.bluecontainer {
    background-color: #0953FF;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 15px;
}

.bluecontainer .btn-primary {
    background-color: #fff;
    border: solid 1px #fff;
    font-size: 16px;
    color: #000;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 16px;
    padding-left:40px;
    padding-right:40px;
    margin-right: 10px;
}

.bluecontainer .btn-secondary {
    background:none;
    border: solid 2px #fff;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 16px;
    padding-left:40px;
    padding-right:40px;
    margin-left: 10px;
}

.bluecontainer h2 {
    font-size: 51px;
}

.bluecontainer p {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #fff;
}

.bluecontainer input,.bluecontainer select,.bluecontainer input:focus, .bluecontainer input::placeholder, .bluecontainer textarea, .bluecontainer textarea::placeholder {
    font-size: 16px;
}



.whitecontainer {
    padding-top: 40px;
}

.whitecontainer img{
    margin: auto;
    display: block;
    width: 90px;
    height: 80px;
}

.whitecontainer .grid-head {
    font-size: 19px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.whitecontainer .grid-content {
    font-size: 14px;
    text-align: center;
    margin-bottom: 60px;
}

.trustcontainer .leading, .choosecontainer .leading{
    font-size: 28px;
    font-family: "Inter", sans-serif;
}

.trustcontainer .content {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.trustcontainer .companyimages {
    margin-bottom: 80px;
}

.companyimages .bakertillycol {
    width:84px;
    height:22px;
    margin-top: 22px;
}

.companyimages .hsbccol {
    width:99px;
    height:18px;
    margin-top: 25px;
}

.companyimages .amexcol {
    width:58px;
    height:58px;
}

.companyimages .yorkbuilcol {
    width:139px;
    height:105px;
    margin-top: -20px;
}

.companyimages .tntcol {
    width:60px;
    height:22px;
    margin-top: 20px;
}

.companyimages .klcol {
    width:120px;
    height:28px;
    margin-top: 20px;
}

/*JUMBOTRON*/
.jumbotron {
    color: #fff;
    background-image:
            radial-gradient(circle at right, rgba(6,8,31,0.3) 0%, rgba(6,8,31,1) 80%),
            url("../img/jumbobg.jpg");
    background-size: cover;
    margin-bottom:0;
    min-height: 740px;
    padding-top: 48px;
}

.jumbotron p {
    font-weight: 300;
    color: #fff;
}

.jumbotron p.lead {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 510px;
    margin-top: 26px;
}

.jumbotron h1 span {
    border-bottom: 2px solid #fff;
}

.header-heading {
    margin-top: 60px
}

.jumbotron p.lead.businesses,.jumbotron p.lead.addresses {
    display: none;
}

.jumbotron .mainrow {
    margin-top: 75px;
}

.jumbotron .companiesrow {
    margin-top: 200px;
    margin-bottom: 30px;
}

.jumbotron .companiesrow p {
    font-size: 20px;
    margin-bottom: 30px;
}

.jumbotron .companyimages .tata {
    width:88px;
    height:11px;
}

.jumbotron .companyimages .dhl {
    width:76px;
    height:11px;
}

.jumbotron .companyimages .dpd {
    width:73px;
    height:24px;
}

.jumbotron .companyimages .hsbc {
    width:65px;
    height:12px;
}

.jumbotron .companyimages .tnt {
    width:44px;
    height:16px;
}

.jumbotron .btn-lg,.jumbotron .btn-lg:active, .jumbotron .btn-lg:focus {
    background-color: rgba(255,255,255,0.1);
    font-size: 12px;
    text-align: left;
    border:1px solid #95989C;
    width: 166px;
    height: 33px;
    padding: 6px 2px 0 12px;
}

.jumbotron .btn-lg:after {
    width: 36px;
    height: 27px;
    background-color: #0953FF;
    content: "\2192";
    font-size: 20px;
    color: #fff;
    float: right;
    border-radius: 14px;
    padding-left: 9px;
    position: relative;
    top: -4px;
    line-height: 1;
    padding-top: 2px;
}

.jumbotron .pin1  {
    top: 130px;
}

.jumbotron .pin3 {
    top: 200px;
}

.jumbotron .companyimages {
    width: 1000px;
    margin: auto;
}

.jumbocontent {
    background-color: rgba(0,0,0,0.82);
    width: calc(50% - 25px);
    height: calc(50% + 25px);
}

.jumbocontentinner {
    float: right;
    padding-right: 32px;
    padding-top:50px;
    width: 444px;
}

.jumbocontentinner .leading {
    color: #0953FF;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    margin-bottom: 0;
}

.jumbocontentinner h1 {
    color: #fff;
    font-size: 71px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    white-space: normal;
}

.jumbocontentinner .trailing {
    color: #BEBAB6;
    font-size: 17px;
    margin-top: 0;
}

.jumbosquare {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 18px solid #fff;
    position: relative;
    top: 0;
    left: calc(50% - 25px);
}


/*SEPARATOR*/
.sep {
    width: 1px;
    height: 86px;
    position: relative;
    left: 50%;
    top: -43px;
    border-left: 1px solid #DBDBDB;
}

.seppara {
    margin-bottom: 100px;
    margin-top: 48px;
}

.sepbuffer {
    margin-bottom:30px;
}

.sepbuffer.withpara{
    margin-bottom: 5px;
}

/* PAGE NAV */
.pagenavcontainer {
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.pagenav{
    border-bottom:1px solid #DBDBDB;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.pagenav li{
    display:inline;
}
.pagenav a{
    display:inline-block;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Inter", sans-serif;
    color: #393939;
    font-size: 18px;
}

.pagenav a:hover{
    text-decoration: none;
}


.pagenav a.active {
    color: #0953FF;
    border-bottom: 3px solid #0953FF;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: -1px;
    font-family: 'Font Awesome 5 Pro';
    content: "\f107";
    font-size: 11px;
    padding-left: 3px;
    border: 0;
}

/* SQUARE SLIDE SECTION */
.squareslider-desc {
    margin-top: 30px;
    margin-bottom: 20px;
}

/*SLIDER*/
.slider div {
    margin-left: 10px;
    margin-right: 10px;
}

.slider img {
    width: 112px;
    height: 110px;
    margin: auto;
}

.slider p.slide-head {
    font-size: 20px;
    font-weight: 500;
}

.slider p.slide-content {
    font-size: 20px;
    width: 420px;
    margin: auto;
}

.slick-prev {
    left: -55px;
}

.slick-next {
    right: -55px;
}

.slick-prev:before {
    background-image: url('../img/leftarrow.png');
}

.slick-next:before {
    background-image: url('../img/rightarrow.png');
}


.slick-prev:before, .slick-next:before {
    background-size: 12px 30px;
    display: inline-block;
    width: 12px;
    height: 30px;
    content: "";
}

.slick-dots li button:before {
    content: "■";
    font-size: 15px!important;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #0953FF;
}



.paginator li.next {
    background: url('../img/rightarrow.png') no-repeat;
    width: 8px;
    height: 20px;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li button:before {
    font-size: 8px;
}

/* BOX CHANGER */
.boxcontinner {
    max-width: 456px;
}


/*FOOTER*/
footer {
    background-color: #000;
    color: #fff;
}

footer img {
    margin: 20px;
}

footer img#simunixLogo {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 202px;
    height: 31px;
}

.footer-container {
    margin: auto;
    width: 100%;
    max-width: 1265px;
}

.cert-img {
    max-height: 100px;
}

.footer-center {
    text-align: center;
}

footer a {
    font-size: 14px;
}

.text-muted {
    color: #BEBAB6!important;
}

footer .bottom, footer .bottom a {
    font-size: 11px;
    color: #BEBAB6;
}

footer hr {
    border-color: #666666;
}

.ce_logo
{
    float: left;

}

.ce_logo img
{
    width: 61px;
    height: 73px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ce_msg
{
    float: left;
    margin-left: 15px;
    padding: 15px 0 10px 0;

    width: 85%;

}

.ce_msg p
{
    font-size: 14px;
    color: #6c757d!important;
}

.ce_logo_big{
    display: none;
}

.ce_wrapper
{
    margin-bottom: 10px;
}


/* RESPONSIVE MOBILE ONLY */
@media screen and (max-device-width:991px), screen and (max-width:991px) {
    h1 {
        font-size: 153px;
    }

    h2 {
        font-size: 96px;
    }

    h3 {
        font-size: 54px;
    }

    p {
        font-size: 48px;
    }

    p.slider-content {
        font-size: 48px;
    }

    .privacy-table th, .privacy-table td
    {
        font-size: 28px;
    }


    .ce_msg, .ce_logo
    {
        display: none;
    }

    .ce_logo_big{
        display: block;
        text-align: center;

    }



    br.mobile-break {
        display:inline;
    }

    .desktop-only {
        display: none;
    }

    .btn-primary, .btn-secondary {
        font-size: 54px;
        padding: 30px 50px;
        border-radius: 100px;
    }

    .col-0 {
        display: none;
    }

    .container {
        max-width: 100%;
    }

    .jumbotron .companyimages {
        width: 100%;
        margin-top: 134px;
    }

    .btn-primary.find-out-more {
        font-size: 36px;
        margin-top: 100px!important;
        margin-bottom: 100px;
    }

    /* NAVIGATION */
    #primaryNav {
        /*margin: 40px;
        margin-top: -40px;*/
        height: 136px;
    }

    .navbar-collapse {
        background-color: #000;
        margin-left: -20px;
        height: calc(100vh - 80px);
        padding-left: 10px;
        padding-top:50px;
        overflow: scroll;
    }

    #primaryNav .navbar-collapse .nav-item a{
        font-size: 72px;
    }

    .navbar-collapse .dropdown-toggle::after {
        font-size: 60px;
    }

    #primaryNav .navbar-collapse .dropdown-item {
        font-size: 14px;
        color: #A4A4A4;
        letter-spacing: 5px;
    }

    .navbar-collapse .right-nav {
        display: none;
    }

    .navbar-brand img {
        width: 309px;
        height: 43px;
        margin-left: 14px;
    }

    .navbar-toggler img {
        width: 70px;
        height: 26px;
        padding-top: 0;
        padding-right: 30px;
    }


    /* JUMBOTRON */
    .jumbotron {
        min-height: 1600px;
        padding-top: 137px;
    }

    body:not(.home) .jumbotron {
        background-size: auto 60%;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    body.home .jumbotron h1 {
        white-space: normal;
        height: 367px;
        margin-bottom: 40px;
    }

    .jumbotron p.lead {
        font-size: 36px;
        max-width: 90%;
    }

    .jumbotron h1 span {
        border-bottom: 3px solid #fff;
    }

    .jumbotron .mainrow {
        margin-top: 75px;
        padding: 5%;
    }

    .jumbotron .btn-lg, .jumbotron .btn-lg:active, .jumbotron .btn-lg:focus {
        font-size: 36px;
        width: 100%;
        height: 120px;
        border-radius: 60px;
        padding: 30px 18px 0 52px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .jumbotron .btn-lg:after {
        width: 132px;
        height: 92px;
        border-radius: 46px;
        padding-left: 40px;
        top: -17px;
        font-size: 60px;
    }

    .jumbotron .companiesrow {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .jumbotron .companiesrow p {
        display:block;
        margin:auto;
        font-size: 32px;
        width: 500px;
        margin-bottom: 40px;
    }


    .jumbotron .companyimages .tata {
        width:196px;
        height:22px;
    }

    .jumbotron .companyimages .dpd {
        width:146px;
        height:48px;
        margin-top: -10px;
    }

    .jumbotron .companyimages .hsbc {
        width:130px;
        height:24px;
    }

    .jumbocontent {
        background-color: rgba(0,0,0,1);
        width: 100%;
        height: 50%;
    }

    .jumbocontentinner {
        width: 100%;
        padding: 5%;
    }

    .jumbocontentinner .leading {
        font-size: 36px;
    }

    .jumbocontentinner h1 {
        font-size: 95px;
    }

    .jumbocontentinner .trailing {
        font-size: 45px;
    }

    .jumbosquare {
        display: none;
    }

    .pagenav {
        overflow: scroll;
        white-space: nowrap;
    }

    .pagenav a{
        padding:20px;
        font-size: 36px;

    }

    .squareSlide, .imgGroup {
        display: none!important;
    }

    .imgGroupMobile {
        display: block;
    }

    /*SLIDER*/

    .slider-mobile img{
        width: 224px;
        height: 220px;
    }

    .slider-mobile p.slide-head {
        font-family: "Inter", sans-serif;
        font-size: 60px;
    }

    .slider-mobile p.slide-content {
        font-size: 42px;
    }

    .slick-dots {
        display: none!important;
    }

    .slick-prev {
        left: 40px;
        top: 112px;
    }

    .slick-next {
        right: 40px;
        top: 112px;
    }

    .slick-prev:before, .slick-next:before {
        background-size: 16px 40px;
        width: 16px;
        height: 40px;
    }

    .headsup {
        font-size: 36px;
    }

    .boxcontinner {
        padding-left: 60px;
        padding-right: 60px;
        max-width: 100%;
    }

    .bluesquare img {
        width: 40px;
        height: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .bluecontainer input, .bluecontainer select,.bluecontainer input:focus, .bluecontainer input::placeholder, .bluecontainer textarea, .bluecontainer textarea::placeholder {
        font-size: 46px;
    }

    .blackcontainer, .dottycontainer {
        padding-left: 60px;
        padding-right: 60px;
    }

    .blackcontainer p.big-text {
        font-size: 96px;
    }

    .blackcontainer p.right-title {
        font-size: 32px;
        margin-bottom: 0;
        margin-top: 60px;
    }

    .blackcontainer p.right-subtitle {
        font-size: 36px;
        color: #BEBAB6;
    }

    .blackcontainer p.right-content {
        font-size: 36px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .dottycontainer a {
        font-size: 36px;
    }

    .dottycontainer p {
        margin-bottom: 80px;
    }

    .bluecontainer .btn-primary, .bluecontainer .btn-secondary {
        font-size: 36px;
        margin-top: 50px;
        margin-bottom: 40px;
        border-radius: 54px;
        padding: 30px 50px;
    }

    .bluecontainer h2 {
        font-size: 96px;
    }

    .bluecontainer p{
        font-size: 32px;
    }

    .form-control, .form-control:focus {
        font-size: 42px;
    }

    .form-control:not([type="submit"]) {
        padding: 60px;
    }

    .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 42px;
    }

    .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 42px;
    }

    .form-control::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 42px;
    }

    select.form-control {
        font-size: 42px;
        height: 133px;
    }

    form .caret {
        padding-right: 48px;
        font-size: 30px;
        padding-top: 11px;
    }

    footer img#simunixLogo {
        margin-top: 80px;
        margin-bottom: 50px;
        width: 382px;
        height: 60px;
    }

    footer h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    footer a {
        font-size: 42px;
    }

    footer li {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer-bottom {
        text-align: center;
    }

    footer .bottom, footer .bottom a {
        font-size: 36px;
    }
}

/* SLIDERS */
.slider-item {
    width: 328px;
    text-align: center;
    padding: 0 58px;
}

.gallery-slider {
    max-width: 1300px;
    margin: auto;
}

#simunix-slider .subtitle {
    margin-top: 50px;
    font-size: 21px;
    color: #FF6061;
    text-align: center;
}

#simunix-slider h2 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 38px;
}

.slick-dots {
    top: -55px;
    height: 35px;
}

.slider-title {
    font-size: 38px;
    font-family: "Inter", sans-serif;
}

.slider-content {
    font-size: 16px;
}

/* RESPONSIVE MOBILE ONLY */
@media screen and (max-device-width:1350px), screen and (max-width:1350px) {
    .slider-item {
        padding: 0 103px;
    }

    .gallery-slider {
        max-width: 1050px;
    }
}

@media screen and (max-device-width: 991px), screen and (max-width: 991px) {
    .slider-title {
        font-size: 60px;
        margin-top: 20px;
    }

    .slider-item {
        padding: 0 0;
    }

    body.home .slider-item {
        padding: 0 103px;
    }

    #simunix-slider .subtitle img{
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        -webkit-transform: scale(3);
        transform: scale(3);
        margin-bottom: 60px;
    }

    .blackcontainer p.headsup {
        font-size: 32px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1885px;
    }
}


#cc-panel hr:first-of-type
{
    display: none;
}


#cc-panel h3, #cc-panel h2, #ccc-notify-title h2
{
    font-family: myriad-pro, sans-serif;
}

@media screen
and (min-width: 992px)
and (max-width: 1309px){

    #primaryNav .nav-item a {
        font-size: 10px!important;
    }
}