.jumbotron {
    background-image: url(../img/t2ajumbobg.jpg);
    height: 572px;
}

.whitecontainer h2 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.blackcontainer .btn-primary {
    margin-top: 60px;
    margin-bottom: 60px;
}

.blackcontainer h2 {
    margin-bottom: 40px;
}

.t2aslider {
    display: block;
}

.t2aslider-mobile {
    display: none;
}

.t2aslider div {
    margin-left: 10px;
    margin-right: 10px;
}

.t2aslider img{
    width: 56px;
    height: 55px;
    margin:auto;
}

.t2aslider p.slide-head {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.t2aslider p.slide-content {
    font-size: 14px;
    width: 225px;
    margin: auto;
}

.trustcontainer p.leading, .choosecontainer p.leading {
    margin-bottom: 60px;
}

.bluecontainer {
    min-height: 250px;
}

.bluecontainer p.thankyou-message {
    font-size: 18px;
    text-align: center;
    display: block;
    padding-top:12px;
}

.bluecontainer .btn-primary {
    color: #0953FF;
    width: 100%;
    margin-top: 0;
}

.bluecontainer select.form-control {
    padding-top: 9px;
    padding-bottom: 9px;
    height: 39px;
}

.bluecontainer textarea.form-control {
    border-radius: 24px;
    padding-left: 20px;
    padding-top: 12px;
}

@media only screen and (max-width: 1024px) {
    .t2aslider {
        display: none;
    }

    .t2aslider-mobile {
        display: block;
    }

    .t2aslider-mobile img{
        width: 224px;
        height: 220px;
    }

    .t2aslider-mobile p.slide-head {
        font-family: "Inter", sans-serif;
        font-size: 60px;
    }

    .t2aslider-mobile p.slide-content {
        font-size: 42px;
    }


    .slick-slide img {
        display: inline;
    }

    .slick-list {
        width: 80%;
        margin: auto;
    }

    .t2a-logo {
        width: 62px;
        height: 68px;
    }

    .trustcontainer p.leading, .choosecontainer p.leading {
        font-size: 54px;
        margin-bottom: 60px;
    }

    .companyimages .bakertillycol {
        width: 168px;
        height: 44px;
    }

    .companyimages .amexcol {
        height: 116px;
        width: 116px;
    }

    .companyimages .yorkbuilcol {
        width: 278px;
        height: 210px;
    }

    .bluecontainer p.thankyou-message {
        font-size: 54px;
    }

}