h2 {
    font-size: 28px;
}

p {
    font-size: 14px;
}

.jumbotron {
    background-image: url(../img/ukpbjumbobg.jpg);
    height: 572px;
}

.jumbocontentinner h1 {
    font-size: 28pt;
}

.jumbocontentinner {
    padding-right: 54px;
    width: 524px;
}

.whitecontainer img.search-type {
    width: 650px;
    height: 388px;
    margin-right: 20px;
    margin-bottom: 40px;
}

#searchType .content {
    margin-top: 40px;
}

.blackcontainer img {
    margin: auto;
    display: block;
    width: 43px;
    height: 41px;
    margin-bottom: 10px;
}

.blackcontainer .seppara{
    margin-bottom: 130px;
}

#keyFeatures .sep {
    top: -108px;
}

#keyFeatures h2 {
    margin-top: -40px;
    margin-bottom: 60px;
}

#keyFeatures .sepbuffer {
    margin-bottom: 70px;
}

.bluecontainer .btn-secondary {
    border: none;
    background-color: #fff;
    font-size: 11pt;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    color: #000;
}

#keyFeatures .col-4 {
    padding-left: 40px;
    padding-right: 40px;
}

.ukpbslider-mobile {
    display: none;
}



/* RESPONSIVE MOBILE ONLY */
@media screen and (max-device-width:991px), screen and (max-width:991px) {

    h2 {
        font-size: 96px;
    }

    p {
        font-size: 54px;
    }

    .bluecontainer .btn-secondary {
        font-size: 36px;
    }

    .jumbocontentinner {
        width: 100%;
    }


    .jumbotron h1 {
        font-size: 72px;
    }

    img.search-type {
        display: none;
    }

    .whitecontainer .btn-primary {
        display: block;
        width: 80%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .blackcontainer img {
        margin-bottom: 30px;
        margin-left:0;
        width: 86px;
        height: 82px;
    }

    .blackcontainer .gridblack-head {
        font-size: 60px;
    }

    .blackcontainer .gridblack-content {
        font-size: 42px;
        margin-bottom: 80px;
    }

    .ukpbslider-mobile {
        display: block;
        text-align: center;
    }

    .ukpbslider-mobile img{
        width: 224px;
        height: 220px;
    }

    .ukpbslider-mobile p.slide-head {
        font-family: "Inter", sans-serif;
        font-size: 60px;
    }

    .ukpbslider-mobile p.slide-content {
        font-size: 42px;
    }


    .slick-slide img {
        display: inline;
    }

    .slick-list {
        width: 80%;
        margin: auto;
    }
}
