#simunix-gallery {
    position: absolute;
    width: 100%;
    min-height: 800px;
}

#simunix-gallery-left {
    position: relative;
    width: 50%;
}

#gallery-left-container {
    position: absolute;
    right: 43px;
    height: 531px;
    width: 620px;
}

#gallery-left {
    width:273px;
    float: left;
}

body.home #gallery-left {
    position: relative;
    right: -340px;
}

#gallery-right {
    height: 100%;
    width: 328 px;
    float:right;
}

#gallery-right-content {
    height: 100%;
}

#gallery-right-content img{
    height: 442px;
    width: 787px;
}

#gallery-left-content1 {
    height: 94px;
    margin-top: 191px;
    margin-bottom: 14px;
    text-align: right;
}

#gallery-left-content1 img {
    width: 94px;
    height: 94px;
}

#gallery-left-content2 {
    height: 175px;
    margin-bottom: 14px;
    text-align: right;
}

#gallery-left-content2 img {
    width: 175px;
    height: 175px;
}

#gallery-left-content3 {
    height: 30px;
}

.gallery-link-mobile {
    display: none;
}

.gallery-linktext {
    float: right;
    margin-right: 8px;
}

.gallery-linktext .nexttext {
    font-size: 10pt;
    color: #A4A4A4;
    display: block;
    text-align: right;
    margin-bottom: -5px;
}

.gallery-linktext .custtext {
    font-size: 12pt;
    white-space: nowrap;
}

.gallery-link .next {
    font-family: "Wingdings 3";
    float: right;
    font-size: 20px;
    color: #0953FF;
    border: 2px solid #0953FF;
    padding: 0px 15px;
    border-radius: 38px;
    text-decoration: none;
    font-weight: 900;
}

#gallery-right-container {
    position: absolute;
    left: calc(50vw + 43px);
    width: 420px;;
}

.gallery-grid-item {
    float: left;
    width: 163px;
    margin-top: 37px;
}

.gallery-grid-item:nth-child(odd) {
    clear:both;
    margin-right: 81px;
}

.gallery-grid-item p {
    margin-top: 16px;
    font-size: 20px;
}

.gallery-subheading {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
}

body.home .gallery-grid-item {
    width: 100%;
}

/* HOME GALLERY SETUP */
body.home .gallery-right-corporate,
body.home .gallery-right-developers,
body.home .gallery-left1-consumers,
body.home .gallery-left1-corporate,
body.home .gallery-left2-developers,
body.home .gallery-left2-consumers,
body.home .gallery-subheading-corporate,
body.home .gallery-subheading-developers,
body.home .grid-item1-corporate,
body.home .grid-item2-corporate,
body.home .grid-item3-corporate,
body.home .grid-item4-corporate,
body.home .grid-item1-developers,
body.home .grid-item2-developers,
body.home .grid-item3-developers,
body.home .grid-item4-developers {
    display: none;
}

/* ORBIS GALLERY SETUP */
body.orbis .gallery-text-people,
body.orbis .gallery-text-logistics,
body.orbis .gallery-text-legal,
body.orbis .gallery-text-property,
body.orbis .gallery-text-financial,
body.orbis .gallery-right-people,
body.orbis .gallery-right-logistics,
body.orbis .gallery-right-legal,
body.orbis .gallery-right-property,
body.orbis .gallery-right-financial,
body.orbis .gallery-left2-financial,
body.orbis .gallery-left2-people,
body.orbis .gallery-left2-logistics,
body.orbis .gallery-left2-legal,
body.orbis .gallery-left2-police,
body.orbis .gallery-left1-people,
body.orbis .gallery-left1-logistics,
body.orbis .gallery-left1-legal,
body.orbis .gallery-left1-police,
body.orbis .gallery-left1-property {
    display: none;
}

/* LEGAL GALLERY SETUP */
body.legal .gallery-text-property,
body.legal .gallery-text-financial,
body.legal .gallery-right-property,
body.legal .gallery-right-financial,
body.legal .gallery-left2-financial,
body.legal .gallery-left2-legal,
body.legal .gallery-left2-people,
body.legal .gallery-left1-legal,
body.legal .gallery-left1-people,
body.legal .gallery-left1-property {
    display: none;
}

/* ESTATE AGENT GALLERY SETUP */
body.estates .gallery-text-verify,
body.estates .gallery-text-zonesearch,
body.estates .gallery-text-database,
body.estates .gallery-right-verify,
body.estates .gallery-right-zonesearch,
body.estates .gallery-right-database,
body.estates .gallery-left2-zonesearch,
body.estates .gallery-left2-database,
body.estates .gallery-left2-landlords,
body.estates .gallery-left1-database,
body.estates .gallery-left1-landlords,
body.estates .gallery-left1-verify {
    display: none;
}

/* POLICE GALLERY SETUP */
body.police .gallery-right-idv,
body.police .gallery-right-osint,
body.police .gallery-right-brsmn,
body.police .gallery-right-ig,
body.police .gallery-right-lr,
body.police .gallery-left1-pt,
body.police .gallery-left1-idv,
body.police .gallery-left1-brsmn,
body.police .gallery-left1-ig,
body.police .gallery-left1-lr,
body.police .gallery-left2-pt,
body.police .gallery-left2-osint,
body.police .gallery-left2-brsmn,
body.police .gallery-left2-ig,
body.police .gallery-left2-lr {
    display: none;
}

body.police [class*="gallery-text-"] {
    display: none;
}

body.police .gallery-text-pt {
    display: block;
}

/* LOGISTICS GALLERY SETUP */
body.logistics .gallery-right-vmpd,
body.logistics .gallery-right-os,
body.logistics .gallery-right-vadrd,
body.logistics .gallery-right-vnd,
body.logistics .gallery-right-aml,
body.logistics .gallery-right-kyc,
body.logistics .gallery-left1-vna,
body.logistics .gallery-left1-vmpd,
body.logistics .gallery-left1-vadrd,
body.logistics .gallery-left1-vnd,
body.logistics .gallery-left1-aml,
body.logistics .gallery-left1-kyc,
body.logistics .gallery-left2-os,
body.logistics .gallery-left2-vna,
body.logistics .gallery-left2-vadrd,
body.logistics .gallery-left2-vnd,
body.logistics .gallery-left2-aml,
body.logistics .gallery-left2-kyc {
    display: none;
}

body.logistics [class*="gallery-text-"] {
    display: none;
}

body.logistics .gallery-text-vna {
    display: block;
}


/* MOBILE LAYOUT */
@media screen and (max-device-width:991px), screen and (max-width:991px) {
    #simunix-gallery-left {
        display: none;
    }



    #gallery-right-container {
        position: static;
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }

    .gallery-subheading-consumers {
        font-size: 36px;
    }

    .gallery-grid-item {
        width: 100%;
    }

    .gallery-grid-item p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 32px;
    }


    .gallery-link-mobile {
        display: block;
        position: absolute;
        bottom: -140px;
    }

    .gallery-link-mobile .next {
        font-family: "Wingdings 3";
        float: left;
        font-size: 48px;
        color: #000;
        border: 1px solid #0953FF;
        padding: 1px 12px;
        border-radius: 50px;
        text-decoration: none;
        width: 122px;
        text-align: center;
    }

    .gallery-linktext {
        float: left;
        margin-left: 8px;
    }

    .gallery-linktext .nexttext {
        font-size: 28px;
        text-align: left;
        margin-top: -6px;
    }

    .gallery-linktext .nexttextlabel {
        font-size: 32px;
        text-align: left;
    }


}

