.squareSlide {
    padding-left: 48px;
    margin-bottom: 30px;
}

.imgGroup {
    margin-left: -18px;
}

.squareSlide span {
    font-size: 2px;
    color: #DBDBDB;
    padding-left: 3px;
    padding-right: 3px;
}

.squareSlide .pri1{
    color: #0953FF;
}

.squareSlide span.primary {
    font-size: 18px;
    vertical-align: sub;
}
.squareSlide .group1, .squareSlide .group2 {
    display: inline;
}

.squareSlide .imgGroup2, .squareSlide .imgGroup3 {
    display: none;
}

.squareSlide .pri1 {
    margin-right: -48px;
}

.squareSlide .pri2 {
    margin-right: -132px;
}

.squareSlide .pri-header {
    position: relative;
    bottom: -25px;
    color: #000;
    font-size: 10pt;
}


.squareSlide .pri1-header{
    left: 15px;
}

.squareSlide .pri2-header {
    left: 60px;
}

.squareSlide .pri3-header {
    left: -28px;
}